[submodule "tools/vendor/DINO_Soars"]
	path = tools/vendor/DINO_Soars
	url = https://github.com/rfaulk/DINO_Soars.git
	ignore = untracked
[submodule "tools/vendor/vit-up"]
	path = tools/vendor/vit-up
	url = https://github.com/krispinwandel/vit-up.git
